# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/

# React Native / Expo
node_modules/
dist/
.expo/

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log

# Dados locais
*.db
*.sqlite3
